In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('train_stem.csv')
df = df1[['is_duplicate','q1_stem','q2_stem']]
df1.head(2)

,id,qid1,qid2,question1,question2,is_duplicate,question1str,question2str,q1_tokens,q2_tokens,q1_lower,q2_lower,q1_no_stop,q2_no_stop,q1_no_punc,q2_no_punc,q1_stem,q2_stem
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,"['What', 'is', 'the', 'step', 'by', 'step', 'g...","['What', 'is', 'the', 'step', 'by', 'step', 'g...","['what', 'is', 'the', 'step', 'by', 'step', 'g...","['what', 'is', 'the', 'step', 'by', 'step', 'g...","['step', 'step', 'guide', 'invest', 'share', '...","['step', 'step', 'guide', 'invest', 'share', '...","['step', 'step', 'guide', 'invest', 'share', '...","['step', 'step', 'guide', 'invest', 'share', '...","['step', 'step', 'guid', 'invest', 'share', 'm...","['step', 'step', 'guid', 'invest', 'share', 'm..."
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,"['What', 'is', 'the', 'story', 'of', 'Kohinoor...","['What', 'would', 'happen', 'if', 'the', 'Indi...","['what', 'is', 'the', 'story', 'of', 'kohinoor...","['what', 'would', 'happen', 'if', 'the', 'indi...","['story', 'kohinoor', '(', 'koh-i-noor', ')', ...","['would', 'happen', 'indian', 'government', 's...","['story', 'kohinoor', 'koh-i-noor', 'diamond']","['would', 'happen', 'indian', 'government', 's...","['stori', 'kohinoor', 'koh-i-noor', 'diamond']","['would', 'happen', 'indian', 'govern', 'stole..."

In [18]:
df1[25:26]

,id,qid1,qid2,question1,question2,is_duplicate,question1str,question2str,q1_tokens,q2_tokens,q1_lower,q2_lower,q1_no_stop,q2_no_stop,q1_no_punc,q2_no_punc,q1_stem,q2_stem
25,25,51,52,What are some tips on making it through the jo...,What are some tips on making it through the jo...,0,What are some tips on making it through the jo...,What are some tips on making it through the jo...,"['What', 'are', 'some', 'tips', 'on', 'making'...","['What', 'are', 'some', 'tips', 'on', 'making'...","['what', 'are', 'some', 'tips', 'on', 'making'...","['what', 'are', 'some', 'tips', 'on', 'making'...","['tips', 'making', 'job', 'interview', 'proces...","['tips', 'making', 'job', 'interview', 'proces...","['tips', 'making', 'job', 'interview', 'proces...","['tips', 'making', 'job', 'interview', 'proces...","['tip', 'make', 'job', 'interview', 'process',...","['tip', 'make', 'job', 'interview', 'process',..."

In [4]:
df['total_num_unique_words'] = df.apply(lambda x: len(set(x.q1_stem.split()).union(set(x.q2_stem.split()))) ,axis=1)

<ipython-input-4-f6e4cbf1b5e6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_num_unique_words'] = df.apply(lambda x: len(set(x.q1_stem.split()).union(set(x.q2_stem.split()))) ,axis=1)

In [5]:
df['total_diff_words'] = df.apply(lambda x: abs(len(x.q1_stem.split()) - len(x.q2_stem.split())), axis=1)

<ipython-input-5-4d80b48b6076>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_diff_words'] = df.apply(lambda x: abs(len(x.q1_stem.split()) - len(x.q2_stem.split())), axis=1)

In [6]:
df['total_words'] = df.apply(lambda x: len(x.q1_stem.split()) + len(x.q2_stem.split()), axis=1)

<ipython-input-6-10ac0dd512c2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_words'] = df.apply(lambda x: len(x.q1_stem.split()) + len(x.q2_stem.split()), axis=1)

In [7]:
df.head(2)

,is_duplicate,q1_stem,q2_stem,total_num_unique_words,total_diff_words,total_words
0,0,"['step', 'step', 'guid', 'invest', 'share', 'm...","['step', 'step', 'guid', 'invest', 'share', 'm...",8,1,13
1,0,"['stori', 'kohinoor', 'koh-i-noor', 'diamond']","['would', 'happen', 'indian', 'govern', 'stole...",11,5,13

In [8]:
df['q1_words'] = df.q1_stem.apply(lambda x: len(x.split()))
df['q2_words'] = df.q2_stem.apply(lambda x: len(x.split()))

<ipython-input-8-d415b57b5961>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['q1_words'] = df.q1_stem.apply(lambda x: len(x.split()))
<ipython-input-8-d415b57b5961>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['q2_words'] = df.q2_stem.apply(lambda x: len(x.split()))

In [9]:
# df.to_csv('train_features.csv',index=False)